<a class="btn" {{bindAttr href="editurl"}}>Edit</a>
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
    <a {{bindAttr href="deleteurl"}} data-method="delete">Delete</a>
  </li>
</ul>
