<ul id="favors-list">
  {{#each favors}}
    <li>
      <span class="label label-info">{{points}} pts</span>
      <a {{bindAttr href="url"}} title="Check out this favor">{{title}}</a>
      <small>{{timeago}}</small>
    </li>
  {{/each}}
</ul>
