{{#view Ember.Button tagName="a" class="btn btn-success" target="App.favorsController" href="#" action="approveWork"}}Approve and award points{{/view}}
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
    {{#view Ember.Button tagName="a" target="App.favorsController" href="#" action="rejectWork"}}Reject and re-open{{/view}}
  </li>
</ul>
