<div class="container">
  <h1 class="title">How It Works</h1>
</div>
<div class="callout">
  <div class="container">
    <h2><small>Minute Favors is a community of people helping each other out with quick online favors.</small></h2>
    <br />
    
    <div class="row">
      <div class="span6">
        <h2>Making requests</h2>
        <hr />
        <h3>What's a favor request?</h3>
        <p>In this case, a favor is anything that someone with the right expertise could do in just a few minutes using only a computer.</p>
        <h3>Like what?</h3>
        <p>Some examples of common favor requests include:</p>
        <ul>
          <li>Convert a video file from wmv format to avi</li>
          <li>Test a feature of a web site using a specific browser/OS combination</li>
          <li>Compress a zip file of images to reduce file size</li>
          <li>Merge two PDFs into one</li>
        </ul>
        <h3>Can I post as many favors as I want?</h3>
        <p>Eh, kind of. Favors are worth points. When you register, you have 100 points, and when you create favor requests, you choose how many points they're worth. Those points are deducted from your account. When you're out of points, you can't post any more request until you solve some requests of other users to get more points.</p>
      </div>
      <div class="span6">
        <h2>Solving requests</h2>
        <hr />
        <h3>Why would anyone help out?</h3>
        <p>For two reasons. One, it feels good to help others. Two, it's like a game, and there are points!</p>
        <h3>How do the points work?</h3>
        <p>The more points a favor is worth, the more points you get for solving it. <strong>But there's a twist!</strong> The number of points you can gain goes down 1 point per minute that you're working on it, so you have to be quick!</p>
        <h3>How can I start?</h3>
        <p>It's easy! Just sign up, then scan the open requests page for favors you can solve, and when you find one, click the "Start Working" button on it to claim it, then get to work!</p>
      </div>
    </div>
  </div>
</div>

