<% @title="Trade quick online favors with real people" %>

<div class="container">
  <% if user_signed_in? %>
    <h1 class="title">Open favor requests</h1>
  <% else %>
    <div class="hero-unit">
      <h1>Help and be helped with <span class="logo">Minute <span>Favors</span></span></h1>
      <p>Minute Favors is an online community of people doing quick, online favors for each other to earn points. Need someone to convert a file to a different format? Or do you have some time to burn and want to help someone out? Get started!</p>
      <p><%= link_to "Sign up now »", new_user_registration_path, :class => "btn btn-primary btn-large" %></p>
    </div> 
  <% end %>
</div>

<div class="callout">
  <div class="container">
    <script type="text/x-handlebars">
      {{view App.SortFavorsView}}
      {{view App.ListFavorsView}}
    </script>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    App.favorsController.loadAll(<%= @favors.to_json.html_safe %>);
  });
</script>
