<div class="hero-unit">
  <h1>Help and be helped!</h1>
  <p>Minute Favors is an online community of people doing quick, online favors for each other. Ask for something quick and easy that can be done using a computer, and you shall receive.</p>
  <p><a class="btn btn-primary btn-large">Request a favor »</a></p>
</div> 

<script type="text/x-handlebars">
  {{ view App.ListFavorsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.favorsController.loadAll(<%= @favors.to_json.html_safe %>);
  });
</script>
