<% if not user_signed_in? %>
  <div class="hero-unit">
    <h1>Help and be helped!</h1>
    <p>Minute Favors is an online community of people doing quick, online favors for each other. Ask for something quick and easy that can be done using a computer, and you shall receive.</p>
    <p><a href="favors/new" class="btn btn-primary btn-large">Request a favor »</a></p>
  </div> 
<% end %>

<div class="page-header">
  <h1>Recent favor requests</h1>
</div>
<div class="row">

  <div class="span8">
    <script type="text/x-handlebars">
      <ul class="nav nav-tabs">
        <li>{{#view Ember.Button tagName="a" target="App.favorsController" action="sortNewest"}}Newest{{/view}}</li>
        <li>{{#view Ember.Button tagName="a" target="App.favorsController" action="sortOldest"}}Oldest{{/view}}</li>
        <li>{{#view Ember.Button tagName="a" target="App.favorsController" action="sortPoints"}}Points{{/view}}</li>
      </ul>
    </script>
    <script type="text/x-handlebars">
      {{view App.ListFavorsView}}
    </script>
  </div>

  <div class="span4">
  </div>

</div>
<script type="text/javascript">
  $(function() {
    App.favorsController.loadAll(<%= @favors.to_json.html_safe %>);
  });
</script>
