<h1>Listing favors</h1>

<script type="text/x-handlebars">
  {{ view App.ListFavorsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.favorsController.loadAll(<%= @favors.to_json.html_safe %>);
  });
</script>
