<div class="container">
  <h1 class="title">Post a new favor request</h1>
</div>
<div class="callout">
  <div class="container">
    <div class="row">
      <div class="span6">
        <%= render 'form' %>
      </div>
      <div class="span5 offset1">
        <fieldset>
          <legend>Tips for posting good favor requests</legend>
          <br />

          <h3>Keep it quick and easy</h3>
          <p>If your request is going to take someone more than a couple minutes, then this probably isn't the right site to use for it.</p>
          <h3>Don't require anything but a computer</h3>
          <p>All favor request should be able to be accomplished using only a computer and the internet. If it requires anything else, it won't get done.</p>
          <h3>Keep it short</h3>
          <p>Don't drone on for paragraphs unless it's crucial. People want to help out, but they don't want to read a novel to understand what you need. Get right to the point.</p>
          <h3>Include everything necessary</h3>
          <p>If your favor references files, link to them. If your favor requires some info, include it. Include everything someone might need in order to help you out.</p>
        </fieldset>
      </div>
    </div>
  </div>
</div>
