<div class="page-header">
  <h1>Post a new favor request <small>Ask for something that someone could do in a couple minutes on a computer</small></h1>
</div>
<div class="row">
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span6">
    <div class="well">
      <h2>Tips for posting good favor requests</h2>
      <hr />
      
      <h3>Keep it short</h3>
      <p>Don't drone on for paragraphs unless it's crucial. People want to help out, but they don't want to read a novel to understand what you need. Get right to the point.</p>
      <h3>Include everything necessary</h3>
      <p>If your favor references files, link to them. If your favor requires some info, include it. Include everything someone might need in order to help you out.</p>
    </div>

  </div>
</div>
