<% @title="Favors tagged with " + @tag %>
<div class="container">
  <h1 class="title">Tagged with "<%= @tag %>"</h1>
</div>

<div class="callout">
  <div class="container">
    <script type="text/x-handlebars">
      {{view App.SortFavorsView}}
      {{view App.ListFavorsView}}
    </script>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    App.favorsController.loadAll(<%= @favors.to_json.html_safe %>);
  });
</script>
