body {
  padding-top: 60px;
}

h2 .label {
  font-size: 24px;
  padding: 1px 7px 2px 5px;
}

.modal {
  display: none;
}

.modal textarea {
  width: 98%;
  height: 200px;
}

.btn-full {
  width: 100%;
  font-size: 25px;
}

.field_with_errors {
  display: inline;
}
.form-horizontal .control-group > .field_with_errors > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

.pointsleft {
  font-size: 150%;
  font-weight: bold;
}
.pointsleft .label {
  font-size: 110%;
}
#new_favor .input-xlarge  {
  width: 400px;
}

#sort-tabs {
  float: right;
  margin-top: 20px;
}

#error_explanation {
  color: #B94A48;
  background-color: #F2DEDE;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

  #error_explanation h2 {
    font-size: 13px;
    color: #B94A48;
    line-height: 18px;
    margin-bottom: 9px;
  }

#favors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
  #favors-list > li {
    padding: 20px 0 10px;
    border-bottom: 1px solid #eee;
    position: relative;
  }

    #favors-list li p {
      font-size: 18px;
    }

    #favors-list > li a {
      font-weight: bold;
    }

    #favors-list li small {
      font-size: 13px;
      color: #888;
    }

    #favors-list li .label {
      font-size: 18px;
      text-transform: lowercase;
    }


.favor-display {
  position: relative;
}

  .favor-display h2 span {
    font-size: 20px;
    position: relative;
    top: -3px;
  }

  .favor-display p.time {
    font-size: 14px;
    color: #888;
    margin: 12px 0 0;
  }

ul.tags {
  margin:0;
  padding:0;
  position:absolute;
  right:24px;
  bottom:15px;
  list-style:none;
}

.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}

.tags a{
  margin-left:20px;
  padding:0 10px 0 12px;
  color:#fff;
  background:#aaa;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
} 

.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #aaa transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;    
}

.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{
  background:#08C;
}
.tags a:hover:before{
  border-color:transparent #08C transparent transparent;
}
