body {
  padding-top: 60px;
}

#favors-list {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
  #favors-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

    #favors-list li a {
      font-weight: bold;
    }

    #favors-list li small {
      font-size: 13px;
      color: #888;
    }

    #favors-list li .label {
      font-size: 18px;
      text-transform: lowercase;
    }
